<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>

        <nav class="navbar-default navbar-static-side" role="navigation" th:fragment="nav-sidebar2">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Example user</span>
                                <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-building"></i> <span class="nav-label">Departamentos</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/departamentos/cadastrar">Cadastrar</a></li>
                            <li><a href="/departamentos/listar">Listar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-coffee"></i> <span class="nav-label">Cargos</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/cargos/cadastrar">Cadastrar</a></li>
                            <li><a href="/cargos/listar">Listar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-address-book"></i> <span class="nav-label">Funcionarios</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="/funcionarios/cadastrar">Cadastrar</a></li>
                            <li><a href="/funcionarios/listar">Listar</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>


</body>
</html>
